@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 255 255 255;
  --grid-line-color: 0 0 0;
}

.dark {
  --color-bg: 23 23 23;
  --grid-line-color: 255 255 255; 
}

*,
*::before,
*::after {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


body {
    @apply bg-bg overflow-x-hidden text-black dark:text-white ;
}

.page {
    @apply min-h-screen overflow-y-auto h-screen pb-20 md:pb-0;
}

.page::-webkit-scrollbar {
    display: none;
}


#navbarList>li{
    @apply hover:text-purple-500 cursor-pointer;
}

.banner-container {
    width: 100%;
    overflow: hidden;
}
  
.banner-container, .bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    transition: background-image 1s ease-in-out; 
}
  
.pfp{
    width: 60%;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
}

.input-field{
    @apply border border-gray-600 rounded-lg block w-full p-2.5 outline-none;
}

/* .signup-loader{
    @apply flex justify-center items-center h-40 w-40 bg-black/10  backdrop-blur-sm fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-md z-50;
} */

.imageSelector::-webkit-scrollbar {
    width: 8px;
}

.imageSelector::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-lg;
}

.imageSelector::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-lg;
}


.follower-animate {
    animation: followerSquishStretch 0.225s ease-in-out;
}

@keyframes followerSquishStretch {
  0% {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0;
  }
  50% {
    height: 0.2rem;
    width: 2rem;
    margin-top: 6px;
  }
  100% {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0;
  }
}